<p id="notice"><%= notice %></p>

<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"> 

<div class="container block">
  <div class="row">
    <div class="col-md-12">
      <h1 class="titleArticle text-center">Articles</h1>
    </div>
  </div>


<% @articles.each do |article| %>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><%= article.title %></h2>
    </div>
     
     <div class="col-md-12">
      <h2><%= article.subtitle %></h2>
    </div>

    <div class="col-md-12 text-center">
      <p><%= article.text %></p>
    </div>


  <div class="col-md-12 text-center">
    <%= image_tag article.image, class: "img-responsive text-center centerElie" %>
  </div> 
    

<div class="row">
    <div class="text-center col-md-4 text-center">
      <%=  button_to 'Show', article, class: "btn btn-primary btn-sm buttonCustom" %>
    </div>

    <div class="text-center col-md-4 text-center">
      <%=  button_to 'Edit', edit_article_path(article), class: "btn btn-primary btn-sm buttonCustom" %>
    </div>

    <div class="text-center col-md-4 text-center">
      <%=  button_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm buttonCustom"  %>

    </div>

</div>
</div>
      <% end %>


<br>
<div class="row">
  <div class="col-md-12 text-center">
  <%= link_to 'New Article', new_article_path, class: "btn btn-info text-center" %>
  </div>
</div>


